
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fas fa-sticky-note"></i>  
        Notes</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
          
          <li class="nav-item dropdown" *ngIf="check">
            <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              signIn
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="signIn">signIn</a></li>
              <li><a class="dropdown-item" routerLink="signUp">signUp</a></li>
            </ul>
          </li>

          <li  class="nav-item text-white" (click)="logoutFun()" *ngIf="!check">logout</li>
          <li  class="nav-item text-white" routerLink="profile">profile</li>
        </ul>
       
      </div>
    </div>
  </nav>

  